#slideshow
{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	/*border: 8px solid blue;*/
}
#slideshow:before, #slideshow:after
{
	position: absolute;
	bottom:0px;
	z-index: -10;
	width: 50%;
	height: 20px;
	content: " ";
	/*border: 1px solid red;*/
}
#slideshow .container
{
	position:relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
	text-align: center;
	/*border: 8px solid red;*/
}
#fondlogo
{
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: 	rgba(0,0,0,0.3);
}
#logo 
{
	position: relative;
	z-index: 2;
	margin-top:177.5px;
}
/*le conteneur des slides en largeur il fait 100% x le nombre de slides*/
#slideshow .slider
{
	position: absolute;
	left:0;
	top:0;
	width: 400%;
	height: 100%;
	/*border: 8px solid orange;*/
}
/* annulation des marges sur figure */
#slideshow figure 
{
	position:relative;
	display:inline-block;
	padding:0;
	margin:0;
	vertical-align: top;
	width: 25%;
	height: auto;
	z-index: -1;
	/*border: 8px dotted green;*/
}
/* fonction d'animation, n'oubliez pas de prefixer ! */
@keyframes slider
{
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
/* complétez le sélecteur : */
#slideshow .slider
{
	/* ... avec la propriété animation */
	animation: slider 16s infinite;
}


